
}
.header {
	color: black;
	background-color: #ffffff;

}
.container {
	background-color: #1F1F1F;
	color: #ffffff;
	font-family:  MS Sans Serif, sans-serif;
	text-transform: uppercase;
}
.content {
	color: #ffffff;
	background-color: #1F1F1F;
}
.wrapper {
	margin: 0 0 0 0;
}
.menu .active {
	background-color: #B2273A;
	color: #ffffff;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 8px;
}
.menu-wrap {
	text-align: right;
	padding-right: 80px;
	font-size: 25px;
}
 .header a:hover {
 	background-color: #B2273A;
 	color: #ffffff;
 	padding-left: 8px;
 	padding-right: 8px;
 	padding-top: 8px;
 }
.menu a {
	color: #B2273A;
	text-decoration: none;
}
.menu li {
	display: inline;
	margin: 0 8px 0 8px;
	text-align: right;
}

.body {
	margin: 0;
}
.header-inner {
	margin: 0 auto;
	display: block;
	background-color: #ffffff;
	color: black;
	padding-left: 1000px;
}
.main-content {
	width: 1000px;
	margin: 0 auto;
}
.col {
	float: left;
	padding: 20px 75px 20px;
	width: 330px;
}
.col1 {
	float: left;
	padding: 20px 75px 20px;
	width: 687px;
}
.cols {
	overflow: hidden;
	background-color: #FF124E;
}
.ref-text {
	background-color: black;
	font-size: 16px;
	padding: 12px;
}
.reference-section h2 {
	padding-left: 552px;
}
h1 {
	font-size: 45px;
}
.contact-section {
	width: 1000px;
	margin: 0 auto;
}
.contact-section h3 {
	margin: 0;
}
.contact-section a {
	margin: 4px 0 4px 0;
	text-decoration: none;
	color: #ffffff;
}
.contact-section a:hover {
	background-color: #B2273A;
 	color: #ffffff;
 	padding-left: 2px;
 	padding-right: 2px;
 	padding-top: 2px;
}
